<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
</head>
<body>
   <main class="box">
    <header class="box-barra">BARRA DE HERRAMIENTAS</header>
    <section class="box2">
        <aside class="box-secundario">CONTENIDO SECUNDARIO</aside>
        <section class="box3">
            <div class="box-sub">SUB BARRA DE HERRAMIENTAS</div>
            <div class="box-contenido"> </div>
        </section>
    </section>
</main> 
</body>

</html>